/* Overall Page */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1401013b;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #007bff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-menu a:hover {
  background-color: #ff7f27;
  transform: translateY(-2px);
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-form input {
  padding: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

.search-form button {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-form button:hover {
  background-color: #ff7f27;
  transform: translateY(-2px);
}

/* Spinner for loading */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
 .nav-menu {
    flex-direction: column;
  }

 .search-form {
    flex-direction: column;
    align-items: center;
  }

 .user-card {
    animation: none!important;
  }
}
